 .navbar {
    display: flex;
    background-color: rgb(53, 51, 51);
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    background-color: rgb(70, 67, 67);
}

.nav-btn {
    display: none;
}

@media (max-width:1000px) {
    .nav-btn {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 2px;
        border: none;
        background-color: rgb(53, 51, 51);
        color: white;
        display: block;
        cursor: pointer;
    }
    .nav-list {
        display: none;
    }
    .nav-btn:hover {
        background-color: rgb(70, 67, 67);
    }
    .drop:hover .nav-list{
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(53, 51, 51);
    }
    .navbar {
        justify-content: space-between;
    }
}

